# Machine Learning 101

This is a very 101 Medium hands-on lab for begins with ML

## Import Libraries ##

In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
import joblib

## Load the data ##

In [28]:
cars_data = pd.read_csv('cars.csv')

    age  gender vehicle_type
0    20       1     Supercar
1    21       1     Supercar
2    25       1     Supercar
3    26       1          4x4
4    27       1          4x4
5    30       1          4x4
6    31       1          SUV
7    34       1          SUV
8    35       1          SUV
9    20       2        Sport
10   23       2        Sport
11   25       2        Sport
12   26       2  Convertible
13   29       2  Convertible
14   30       2  Convertible
15   31       2       Pickup
16   33       2       Pickup
17   37       2       Pickup

## Split the data ##

**NOTE:** use `.values` to avoid the sklearn **"valid feature name"** warnings

In [21]:
X = cars_data.drop(columns=['vehicle_type']).values # Imput Data

y = cars_data['vehicle_type'] # Output Dat

## Create the Model ##

In [22]:
model = DecisionTreeClassifier()

## Train the Model ##

In [23]:
model.fit(X, y)

DecisionTreeClassifier()

## Make the predictions ##

In [25]:
predictions = model.predict([ [22,1] ])
predictions[0]

'Supercar'